doctype html
html
  head
    meta(chatset='utf-8')
    title FAQ: Address de Color
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Address de Color FAQ
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') Faq
        li: a(href='/contact') Contact
        li: a(href='/people') People
